astroid==2.4.2
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
decorator==4.4.2
flake8==3.8.4
Flask==1.1.2
idna==2.10
ipykernel==5.3.4
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.8
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.1
pylint==2.6.0
python-dateutil==2.8.1
pyzmq==19.0.2
requests==2.24.0
six==1.15.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.5
urllib3==1.25.11
wcwidth==0.2.5
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
