    @font-face {
        font-family: "get_schwifty";
        src: url('../fonts/get_schwifty.ttf');
    }
    
    ;
    html {
        font-size: 10px
    }
    
    body {
        background-color: #FFFAE9;
    }
    
    h1 {
        font-family: "get_schwifty";
        color: #75D1AA;
        text-align: center;
        font-size: 5vw;
        padding-top: 100px;
    }
    
    p {
        text-align: center;
        font-size: 2.5rem;
    }
    
    #search {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #search-box {
        width: 350px;
        height: 30px;
    }
    
    #search-button {
        background-color: #AFA583;
        width: 60px;
        height: 30px;
        color: white;
    }
    
    #navbar {
        font-family: "get_schwifty";
        background-color: #AFA583;
    }
    
    #navbar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        border-collapse: collapse;
    }
    
    #navbar ul li {
        margin: 9px;
        padding: 9px;
        font-size: 2rem;
    }
    
    #navbar ul li a {
        text-decoration: none;
    }
    
    #navbar ul li a:hover {
        background-color: #75D1AA;
    }
    
    .hidden {
        display: none;
    }
    /*-----------------------------------------*/
    
    h2 {
        font-family: "get_schwifty";
        color: #75D1AA;
        text-align: center;
        font-size: 3vw;
        margin: 10px;
        padding: 5px;
    }
    /*-----------------------------------------*/
    
    #character {
        text-align: center;
        font-size: 2.5rem;
    }
    
    #select-searcher {
        height: 30px;
        border-radius: 25px;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .flex-form {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        list-style: none;
    }
    
    .info {
        text-align: center;
        align-items: center;
        font-size: 3vw;
        margin: 10px;
        padding: 5px;
    }