<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Movie watcher</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About us</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/find-us">Find us</a></li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
    </div>
</body>

</html>