{% extends "base.html" %} {% block content %}
<h1>Rick and Morty search</h1>
<div id="search">
    <form id="run-search" action="/search" method="GET">
        <label for="mysearch" class="hidden">search</label><br>
        <input id="search-box" autofocus id="search-box" name="mysearch" placeholder="Character name or episode number" type="text">
        <label for="cle" class="hidden">search for:</label>
        <select name="cle" id="select-searcher">
          <option value="character">character</option>
          <option value="episode">episode</option>
        </select>
        <button id="search-button" type="submit">Search</button>
    </form>
</div>
<div>

    <ul class="flex-form">
        {% for somechar in yoursearch %}
        <li>
            <form id="run-search-by-pic" action="/search" method="GET">
                <label for="somechar['name']" class="hidden">search</label>
                <input type="hidden" name="pictursearch" value="{{somechar['id']}}">
                <input id="photo-search" type="image" src="{{somechar['image']}}" alt="submit">
            </form>
        </li>{% endfor %}
    </ul>

</div>
{% endblock %}