{% extends "base.html" %} {% block content %} {% if yoursearch is string %}
<P>{{yoursearch}}</P>
{% elif options == 'character' and items %}
<div class="grid-container">
    {% for somechar in yoursearch %}
    <div id=multi-character>
        <p><img src="{{somechar['image']}}" alt="{{yoursearch['name']}}"></p>
        <p>name: {{somechar['name']}}</p>
        <p>status: {{somechar['status']}}</p>
        <p>species: {{somechar['species']}}</p>
        <p>type: {{somechar['type']}}</p>
        <p>gender: {{somechar['gender']}}</p>
        <p>origin: {{somechar['origin']['name']}}</p>
        <p>location: {{somechar['location']['name']}}</p>
    </div>
    {% endfor %}
</div>
{% elif options == 'character' %}
<h2>Random 20~ characters</h2>
<div class="grid-container">
    {% for somechar in yoursearch %}
    <div id=multi-character>
        <p><img src="{{somechar['image']}}" alt="{{yoursearch['name']}}"></p>
        <p>name: {{somechar['name']}}</p>
        <p>status: {{somechar['status']}}</p>
        <p>species: {{somechar['species']}}</p>
        <p>type: {{somechar['type']}}</p>
        <p>gender: {{somechar['gender']}}</p>
        <p>origin: {{somechar['origin']['name']}}</p>
        <p>location: {{somechar['location']['name']}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
<div id=multi-character>
    <p><img src="{{name_id['image']}}" alt="{{name_id['name']}}"></p>
    <p>name: {{name_id['name']}}</p>
    <p>status: {{name_id['status']}}</p>
    <p>species: {{name_id['species']}}</p>
    <p>type: {{name_id['type']}}</p>
    <p>gender: {{name_id['gender']}}</p>
    <p>origin: {{name_id['origin']['name']}}</p>
    <p>location: {{name_id['location']['name']}}</p>
</div>
{% endblock %}





<!-- <div id=multi-character>
    <p><img src="{{name_id['image']}}" alt="{{name_id['name']}}"></p>
    <p>name: {{name_id['name']}}</p>
    <p>status: {{name_id['status']}}</p>
    <p>species: {{name_id['species']}}</p>
    <p>type: {{name_id['type']}}</p>
    <p>gender: {{name_id['gender']}}</p>
    <p>origin: {{name_id['origin']['name']}}</p>
    <p>location: {{name_id['location']['name']}}</p>
</div> -->

















<!-- 
    {{yoursearch}}
name Rick Sanchez
status Alive    
species Human
type 
gender Male
origin {'name': 'Earth (C-137)', 'url': 'https://rickandmortyapi.com/api/location/1'}
location {'name': 'Earth (Replacement Dimension)', 'url': 'https://rickandmortyapi.com/api/location/20'}
image https://rickandmortyapi.com/api/character/avatar/1.jpeg
episode -->-->